*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:linear-gradient(135deg,#4f46e5,#7c3aed);
    color:white;
    text-align:center;
    padding:40px 20px;
}

.hero-content{
    max-width:700px;
}

.profile{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:6px solid white;
    margin-bottom:25px;
}

.hero h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero h2{
    font-size:24px;
    font-weight:400;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    line-height:1.7;
    margin-bottom:35px;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    text-decoration:none;
    background:white;
    color:#4f46e5;
    padding:14px 35px;
    border-radius:30px;
    font-weight:bold;
}

.btn:hover{
    background:#1f2937;
    color:white;
}

.btn2{
    background:transparent;
    color:white;
    border:2px solid white;
}

.btn2:hover{
    background:white;
    color:#4f46e5;
}

@media(max-width:768px){

.hero h1{
    font-size:35px;
}

.hero h2{
    font-size:20px;
}

.hero p{
    font-size:16px;
}

.profile{
    width:170px;
    height:170px;
}

}




